<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crossword_Application_Modern.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Crossword_Application_Modern.Properties.Settings>
            <setting name="AccentColorR" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="AccentColorG" serializeAs="String">
                <value>161</value>
            </setting>
            <setting name="AccentColorB" serializeAs="String">
                <value>226</value>
            </setting>
            <setting name="ThemeSource" serializeAs="String">
                <value>FirstFloor.ModernUI;component/Assets/ModernUI.Light.xaml</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>Large</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdatesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>780</value>
            </setting>
        </Crossword_Application_Modern.Properties.Settings>
    </userSettings>
</configuration>